numpy~=1.24.3
pandas~=2.0.2
pathlib
notebook
transformers~=4.29.2
datasets~=2.12.0
scikit-learn~=1.2.2
evaluate~=0.4.0
torch
torchvision
torchaudio
accelerate
nltk
rouge_score
sacrebleu
bert_score
wandb
optuna